.block__absolute {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	background-color: blueviolet;
}
@media (max-width: 720px) {
	.block__absolute {
		position: relative;
		left: 0px;
		top: 0px;
		width: 100%;
		background-color: blueviolet;
	}
	.logo {
		display: none;
	}
}

.main__container {
	max-width: 1200px;
	margin: 0 auto;
}

.header {
	box-sizing: border-box;
	height: 60px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
}
