.flex__content__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: 340px;
	border: 1px solid;
	max-width: 40%;
}
.flex__content__item__title {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 300px;
	background-color: rgb(140, 24, 24);
}
.flex__content__item__title img {
	width: 100%;
	height: 100%;
}

.flex__content__item__text {
	width: 100%;
	text-align: center;
}
